@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --pronto-purple: #00a1de;
}

body,
html {
  font-family: 'Montserrat', sans-serif !important;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  color: var(--pronto-purple);
}

h2 {
  font-size: 2.3rem;
}

/* Navigation */

nav {
  min-height: 6vh;
  position: sticky;
  top: 0;
  width: 98vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Homepage */

.heroImage {
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.heroContentOuter {
  position: absolute;
  bottom: 4vh;
  left: 4vw;
  width: 96vw;
  height: 96vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.heroContentInner {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
  border: 5px solid var(--pronto-purple);
  box-shadow: 0 0 20px var(--pronto-purple);
  border-radius: 30px;
  border-top-left-radius: 30px;
  padding: 20px;
  text-align: center;
}

.fancyText {
  animation: pulse 8s ease infinite;
  background: -webkit-linear-gradient(#00a1de, #0000ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes pulse {
  0% {
    font-size: 1.6em;
  }

  50% {
    font-size: 1.8em;
  }

  100% {
    font-size: 1.6em;
  }
}

.heroContentTypewriterCursor {
  font-size: 3.6rem;
}

.pageContent {
  position: absolute;
  top: 100vh;
  width: 100vw;
  text-align: center;
}

/* Other pages */

.miscPage {
  padding: 10px;
  text-align: center;
}

.stepBoxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2vw;
}

.stepBox {
  border: 4px solid var(--pronto-purple);
  box-shadow: 0 0 10px var(--pronto-purple);
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  min-height: 35vh;
  width: 40vw;
  margin: 1vw;
  font-size: 1.6rem;
}

.stepBoxTitle {
  color: var(--pronto-purple);
  font-size: 2.2rem;
}

/* Map destinations */

.mapDestinationBox {
  font-family: 'Montserrat' !important;
}

.mapDestinationBox h1 {
  font-size: 1.3rem;
}

.mapDestinationBox h2 {
  font-size: 1rem;
}

.mapLegend {
  /* position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999; */
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0 20px 0 0;
  border-top: 3px solid var(--pronto-purple);
  border-right: 3px solid var(--pronto-purple);
  box-shadow: 0 0 4px var(--pronto-purple);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.mapLegendImg {
  vertical-align: middle;
  padding-right: 10px;
  max-height: 30px;
}

/* Responsiveness */

@media screen and (max-width: 700px) {

  .addlLogosDesktop {
    display: none;
  }

  .navLinks a {
    display: block;
    padding: 7px;
  }

  .mapLegend {
    width: 100vw;
    border-right: unset;
    border-radius: unset;
  }

  .heroContentOuter {
    padding: 0;
    left: 0;
  }

  .heroContentInner {
    padding: 0;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100vw;
  }

  .heroContentInner h1 {
    padding: 20px;
    font-size: 2em !important;
  }

  .stepBox {
    width: 90vw;
  }

  .fancyText {
    animation: unset;
    font-size: 1.4em;
  }
}